body{
    background-color: rgb(20, 155, 246);  
color:rgb(24, 129, 250) 

}
strong{
    color:rgb(56, 162, 254)
}
.contaimer{
    display:flex;
    justify-content: center; /* centraliza horizoltamente */
    align-items:center; /* centralizar  verticalmente */
     
}
<p style="font-size: 18px; line-height: 1.5; color: #0c09c3; margin-bottom: 32px;">
      Olá! Sou Joana Santos, desenvolvedora Front-end <br>
      com especialidade em React, HTML e CSS. Ajudo <br>
      pequenos negócios e designers a colocarem em <br>
      prática boas ideias. Vamos conversar?
    </p>

    <!-- Bloco dos Botões -->
    <div style="display: flex; gap: 16px;">
      <a href="#" style="background-color: #22D4FD; color: #000000; font-weight: bold; text-decoration: none; padding: 12px 32px; border-radius: 8px; font-size: 16px;">Instagram</a>
      <a href="#" style="background-color: #22D4FD; color: #000000; font-weight: bold; text-decoration: none; padding: 12px 32px; border-radius: 8px; font-size: 16px;">GitHub</a>
    </div>
